@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,400;0,600;1,400;1,600&display=swap');
.principal{
    background: rgb(58,180,93);
background: linear-gradient(90deg, rgba(58,180,93,1) 0%, rgba(255,255,255,1) 50%, rgba(255,54,54,1) 100%);
font-family: 'Jost', sans-serif;
width: 100vw;
height: 100vw;
}